<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence
             http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd"
             version="2.1">
             
<persistence-unit name="mysqldb"  transaction-type="JTA">
<provider>org.hibernate.ejb.HibernatePersistence</provider>
  <properties>

   <property name="hibernate.transaction.jta.platform"
   value="com.atomikos.icatch.jta.hibernate4.AtomikosPlatform" />

<property name="hibernate.current_session_context_class" value="jta"/> 
      
   <property name="javax.persistence.transactionType"   value="jta" />
  
 
				
<!--设置外连接抓取树的最大深度 -->
<property name="hibernate.max_fetch_depth" value="3" />
<!--自动输出schema创建DDL语句 -->
<property name="hibernate.hbm2ddl.auto" value="update" />
<property name="hibernate.show_sql" value="true" />
<property name="hibernate.format_sql" value="true" /> 
<property name="javax.persistence.validation.mode" value="none"/>
<property name="hibernate.dialect" value="org.hibernate.dialect.MySQL5Dialect" />
<property name="hibernate.connection.autocommit" value="false" />
</properties>
</persistence-unit>


</persistence>